Package: com.iimrhiv.spongeboard
Version: 1.4
Architecture: iphoneos-arm
Maintainer: iiMrHiv <oliparry@icloud.com>
Filename: debs//com.iimrhiv.spongeboard.deb
Size: 7248625
Section: Entertainment
Description: This is a soundboard for the TV show Spongebob.
Author: iiMrHi v
Depiction: http://iimrhiv.github.io/depic/spongeboard.springboard/index.html
Name: Spongeboard

