Package: com.iimrhiv.spongeboard
Name: Spongeboard
Version: 1.4
Architecture: iphoneos-arm
Description: This is a soundboard for the TV show Spongebob.
Homepage: www.reddit.com/u/iimrhov
Section: Entertainment
Author: iiMrHi v <oliparry@icloud.com>
Maintainer: iiMrHiv <oliparry@icloud.com>
