Package: com.iimrhiv.spongeboard
Version: 1.4
Architecture: iphoneos-arm
Maintainer: iiMrHiv <oliparry@icloud.com>
Filename: .//debs/com.iimrhiv.spongeboard.deb
Size: 9615648
MD5sum: b221a0a07121788058d71f0766b85131
SHA1: 0a4d3b61ea5cecbd481c107b1d068dc8841d892c
SHA256: 506351906c045e168106009c567e521b18ae96964282e1131d36e7c89c0cef19
Section: Entertainment
Description: This is a soundboard for the TV show Spongebob.
Author: iiMrHi v <oliparry@icloud.com>
Depiction: http://iimrhiv.github.io/depic/spongeboard.springboard/index.html
Name: Spongeboard

